.footnotes > li {
    margin: 15px 0;
}

/* Keeps the back-link on the same line as the first block. */
.footnotes > li > *:nth-child(2) {
    display: inline;
}

.inline-footnote {
    margin: .5em;
    padding: .5em;
    border-left: 2px solid #555;
}

.inline-footnote > p {
    margin: 0;
}
